.navbar-default{
	background-color: transparent;
	border: none;
}
.special{
	border: 1px solid #dab33e;
}
.left{
	float: left;
}
.right{
	float: right;
}
.section-with-navbar .navbar .navbar-nav li:not(.active):before{
	content: '';
	display: block;
	height: 2px;
	background: #fff;
	width: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: width .5s linear;

}
.section-with-navbar .navbar .navbar-nav li:not(.active):not(.social-links-navbar):hover:before{
	width: 90%;
}
.section-with-navbar .navbar .navbar-nav li a:hover{
	color: #fff;
}
.navbar-nav .social-links-navbar a{
	transition: transform 0.35s ease-in-out;
}
.navbar-nav .social-links-navbar a:hover{
	transform: scale(1.2);
}
.navbar-default .navbar-nav .active a:hover{
	background-color: transparent;
}
.navbar-default .navbar-nav .active a{
	background-color: transparent;
	color: #fff;
}
.navbar-nav li{
	position: relative;
}
.navbar-nav li.active:before{
	content: '';
	display: block;
	height: 2px;
	background: #fff;
	width: 90%;
	position: absolute;
	top: 0;
	left: 0;
}
.menu-heading, .guest-heading{
	font-family: 'Yeseva One', cursive;
}
.heading-orange, .guest-heading, .menu-heading{
	font-size: 36px;
}
.heading-white{
	color: #fff;
}
.navbar-brand{
	float: none;
}
.navbar-nav li{
	padding-top: 54px;
}
.description-paragraph{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}
.section-with-navbar{
	background-image: url('../img/header-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.section-just-the-right-food{
	background-image: url('../img/section-menu-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.heading-orange{
	color: #cc9900;
}
.item-name, .item-price{
	color: #dab33e;
}
.section-with-navbar .navbar-collapse{
	font-family: 'Gentium Book Basic', serif;
	font-size: 21px;
}
.section-with-navbar .navbar-collapse li a{
	color: #fff;
}
.section-with-navbar h1.heading-ingredients{
	font-size: 90px;
	color: #fff;
	font-family: 'Yeseva One', 'Arial', serif;
	letter-spacing: 0em;
	font-weight: normal;

}
.section-fine-ingredients{
	background-image: url('../img/section-fine-ingredients-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.opacity-background{
	background-color: rgba(0,0,0,0.67);
	color: #fff;
}
.section-menu img{
	margin: 0 auto;
}
.section-menu{
	background-image: url('../img/section-menu-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.section-guest-reviews{
	background-image: url('../img/guest-reviews-background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.section-with-navbar a.white-btn:hover{
	background-color: #fff;
	color: #000;
}
.section-with-navbar a.white-btn{
	padding: 22px 52px;
	text-transform: uppercase;
	background-color: rgba(255,255,255,0.196);
	font-size: 18px;
	border: 1px solid #fff;
	border-radius: 0px;
	line-height: 0px;
	letter-spacing: 0px;
	color: #fff;
	transition: background-color 0.5s linear;

}
.section-with-navbar a.black-btn:hover{
	background-color: #000;

}
.section-with-navbar a.black-btn{
	padding: 22px 52px;
	text-transform: uppercase;
	background-color: rgba(0,0,0,0.56);
	font-size: 18px;
	border: 1px solid black;
	border-radius: 0px;
	line-height: 0px;
	letter-spacing: 0px;
	color: #fff;
	transition: background-color 0.3s ease-in-out;
}
.section-with-navbar a.black-btn, .section-with-navbar a.white-btn{
	margin-bottom: 142px;
}
.section-with-navbar img.decoration-white{
	float: none;
	display: block;
	padding-top: 34px;
	padding-bottom: 34px;
	margin: 0 auto;
}
.section-just-the-right-food .just-the-right-food-paragraph{
	font-family: 'Lato', sans-serif;
	line-height: 20px;
	font-size: 16px;
}
.section-just-the-right-food h2.just-the-right-food-heading{
	padding-top: 105px;
}
.section-just-the-right-food img.decoration-orange{
	margin: 0 auto;
	padding-top: 29px;
	padding-bottom: 29px;
}
.section-just-the-right-food img.just-the-right-food-dish{
	padding-top: 54px;
	padding-bottom: 31px;
}
.section-just-the-right-food img.just-the-right-food-round{
	padding-top: 53px;
	padding-bottom: 114px;
	margin: 0 auto;
}
.section-fine-ingredients .opacity-background{
	margin-top: 100px;
	margin-bottom: 100px;
}
.section-fine-ingredients .opacity-background .menu-heading{
	padding-top: 83px;
}
.section-fine-ingredients .opacity-background img.decoration-white{
	padding-top: 30px;
	padding-bottom: 30px;
}
.section-fine-ingredients .opacity-background img.fine-ingredients-round{
	padding-top: 65px;
	padding-bottom: 65px;
}
.section-menu .bordered-row{
	border-bottom: 0.5px solid #dab33e;
	margin-left: 2px;
	margin-right: 2px;
}
.section-menu .non-bordered-row{
	margin-left: 2px;
	margin-right: 2px;
}
.section-menu .non-bordered-row div{
	padding-left: 0px;
	padding-right: 0px;
}
.section-menu .special{
	position: relative;
}
.section-menu .special:before{
	position: absolute;
	top: -23px;
	right: -1px;
	content: 'Special';
	background-color: #c89f2d;
	color: #f8fafa;
	padding: 1px 15px;

}
.above-special{
	margin-bottom: 15px;
}
.menu-item{
	padding-left: 0px;
	padding-right: 0px;
}
.heading-padding-top{
	padding-top: 107px;
}
.last-on-menu{
	padding-bottom: 97px;
}
.last-on-menu-2{
	padding-bottom: 20px;
}
.section-guest-reviews h2.guest-heading{
	padding-top: 82px;
}
.section-guest-reviews img{
	margin: 0 auto;
	padding-bottom: 20px;
	padding-top: 20px;
}
.section-guest-reviews p.guest-paragraph{
	font-family: 'Gentium Book Basic', serif;
	line-height: 25px;
	letter-spacing: 0;
	baseline-shift: 0;
	padding-left: 70px;
	padding-right: 70px;
	padding-bottom: 30px;
}
.section-guest-reviews h5{
	padding-bottom: 103px;
}
.section-guest-reviews .opacity-background{
	margin-top: 100px;
	margin-bottom: 100px;
}
p.guest-paragraph:before{
	content: '"';
	font-size: 96px;
	font-family: 'PT Serif', serif;
}
.section-form .section-form-img, h2.heading-orange{
	padding-top: 100px;
}
.section-form .section-form-img, h2.heading-orange-2{
	padding-top: 50px;
}
.section-form .section-form-img, .form-button{
	padding-bottom: 100px;
}
.section-form img{
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
}
.section-form h2.heading-orange{
	margin-top: 0px;
	margin-bottom: 0px;
}
.section-form p.description-paragraph{
	color: #4c4c4c;
}
h5.item-description{
	color: #4c4c4c;
}
.section-form label{
	color: #c9a131;
}
.section-form label:hover{
	cursor: pointer;
}
.section-form input[type=text]{
	margin-bottom: 25px;
}
.section-form input[type=text]:focus{
	outline-color: #c89f2d;
}
.section-form h2.heading-orange-3{
	padding-top: 50px;
}
.section-form .form-row{
	padding-top: 29px;
}
.section-form a.btn-form{
	padding-left: 50px;
	padding-right: 50px;
	border-radius: 0px;
	background-color: #c89f2d;
	color: #fff;
	margin-top: 59px;
	transition: background-color 0.35s ease-in-out;
	transition: color 0.35s ease-in-out;

}
.section-form a.btn-form:hover{
	background-color: #ce9900;
	color: #000;
}
.footer{
	background-color: #191919;
}
.footer img{
	margin: 0 auto;
}
.footer h2.menu-heading{
	font-size: 21px;
}
.footer p.footer-paragraph{
	font-size: 16px;
	color: #fff;
	line-height: 1.5;
}
.footer img.img-responsive{
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer ul{
	padding-left: 0px;
	text-align: center;
}
.footer ul li{
	list-style-type: none;
	display: inline-block;
}
.footer ul li.credit-cards{
	padding-top: 0px;

}
.footer ul li.credit-cards:not(:last-child){
	padding-right: 5px;
}
.footer ul li.social-networks:not(:last-child){
	padding-right: 5px;
}

.footer-row{
	padding-bottom: 72px;
	padding-top: 61px;
}
li.credit-cards{
	-webkit transition: transform 0.5s ease-in-out;
}
li.credit-cards:hover{
	transform: scale(1.2);
}
li.social-networks{
	-webkit transition: transform 0.5s ease-in-out;
}
li.social-networks:hover{
	transform: scale(1.2);
}
/* 																Responsive 										*/
@media screen and (max-width: 480px){

	
}
/* 	                                                           Responsive za XS                                 */
@media screen and (max-width: 768px){

	.section-with-navbar a.black-btn, .section-with-navbar a.white-btn{
		margin: 0 auto 40px;
		display: block;
	}
	.section-with-navbar h1.heading-ingredients{
		font-size: 30px;
	}
	.fine-ingredients-round{
		max-width: 100%;
	}
	.menu-item-title {
		float: left;
	}
	.menu-item-right{
		float: right;
	}
}
/* 	                                                           Responsive za MD                                */
@media screen and (max-width: 992px){
	.section-with-navbar h1.heading-ingredients{
		font-size: 48px;
	}
	.navbar-brand{
		float: left;
		height: auto;
	}
	.navbar-collapse{
		border: none;
	}
	.section-with-navbar .navbar-nav{
		text-align: center;

	}
	.section-with-navbar .navbar-nav li{
		display: inline-block;
		padding-top: 0px;
	}
	.section-with-navbar .navbar-nav li:not(:nth-child(1)):not(:nth-child(4)):not(.social-links-navbar){
		padding-left: 10px;
	}
	.section-with-navbar .navbar-nav li.social-links-navbar{
		padding-left: 50px;

	}
	.navbar-default .navbar-toggle:focus{
		background-color: transparent;
	}
	.navbar-default .navbar-toggle:active{
		background-color: transparent;
	}
	.navbar-default .navbar-toggle:hover{
		background-color: transparent;
	}
	.section-form p.description-paragraph{
		padding: 0 15px;
	}
	/* adasasdas */
}	
/* 	                                                           Responsive za LG+                               */